*~
.DS_Store
*.png
cse141pp-archlab
googletest
.test_build
\#*
.\#*
*.gcov
*.exe
*.o
*.tensor
*.dataset
.test_case
.test_case
*.test_case
.test.out
*.d
*.d.*
gmon.out
*.gprof
*.i
*-ubyte
*.gcno
*.gcda
